@bryntum:registry=https://npm.bryntum.com
//npm.bryntum.com/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyZWFsX2dyb3VwcyI6WyJ0cmlhbCIsIiRhbGwiLCIkYXV0aGVudGljYXRlZCIsIkBhbGwiLCJAYXV0aGVudGljYXRlZCIsImFsbCJdLCJuYW1lIjoibmdvYy52by4ucmVhZHl0ZWNoLmlvIiwiZ3JvdXBzIjpbInRyaWFsIiwiJGFsbCIsIiRhdXRoZW50aWNhdGVkIiwiQGFsbCIsIkBhdXRoZW50aWNhdGVkIiwiYWxsIl0sImlhdCI6MTY5NDg3NDY3MSwibmJmIjoxNjk0ODc0NjcxLCJleHAiOjI1NTg3ODgyNzF9.XY4xK_ZNiK0NEi8_NO3zLd_Igip4VAbaLunLdA80m7U