/**
 * Main application sass file that contains all the application styling
 */

// import bryntum theme
@import "~@bryntum/scheduler/scheduler.stockholm.css";

body,
html {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: Poppins, "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.color-box {
  width: 1em;
  height: 1em;
  margin-inline-end: 0.5em;
  border-radius: 2px;
}

.front-office-bg {
  background-color: red;
}

.back-office-gb {
  background-color: green;
}
